<head>

  <title>TWIST</title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>

    /* Remove the navbar's default margin-bottom and rounded borders */ 

    navbar {

      margin-bottom: 0;

      border-radius: 0;

    }
    
    h1 {
        color: purple;
        font-weight: bold;
    }
    
    h4 {
        font-weight: bold;
    }

    img {
        max-width: 100%;
        height: auto;
    
    }

    body {
        padding: 25px;
        margin-right: 100px;
        margin-left: 100px;
    }
    
    p {
        Line-height: 1.5;
        font-size: 12pt;
    }

    jumbotron {

      padding: 25px;

    }
    

  </style>

</head>